@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    var substitutionCollapse = "substitutionCollapse";
    var wordSearchCollapse = "wordSearchCollapse";
    var crosswordSearchCollapse = "crosswordSearchCollapse";

    var listButton = "list-group-item list-group-item-action";
    var minimalisticPadding = "padding: 1px; margin: 2px;";
    var noSelectStyle = "style=\"-ms-user-select: none; user-select: none; -moz-user-select: none; -webkit-user-select: none;\"";
}

@section Headers {
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@substitutionCollapse" style=" @Html.Raw(minimalisticPadding)">Substitution</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@wordSearchCollapse" style=" @Html.Raw(minimalisticPadding)">Word Search</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@crosswordSearchCollapse" style=" @Html.Raw(minimalisticPadding)">Crossword Search</button>
}

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">I:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="value: input, valueUpdate: 'afterkeydown'" style="height:250px;"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">O:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="value: global.outputGlobal" style="height:250px;"></textarea>
                </div>
            </div>
        </div>
        <div class="collapse" id="@substitutionCollapse" style="transition-duration: 0.05s;">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">O:</span>
                        </div>
                        <textarea class="form-control" type="text" data-bind="value: subst.output" style="height:250px;"></textarea>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="list-group">
                        <a data-bind="css: subst.letterToNumberActive, click: utility.toggler.bind($data, subst.letterToNumberActive)" class="@listButton active" @Html.Raw(noSelectStyle)>A1 - Z26</a>
                        <a data-bind="css: subst.rotate13Active, click: utility.toggler.bind($data, subst.rotate13Active)" class="@listButton active" @Html.Raw(noSelectStyle)>Rotate</a>
                    </div>
                    <input data-bind="value: subst.rotateValue, valueUpdate: 'afterkeydown'" />
                    <div class="list-group">
                        <a data-bind="css: subst.aciiActive, click: utility.toggler.bind($data, subst.aciiActive)" class="@listButton active" @Html.Raw(noSelectStyle)>ASCII</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-auto">
                            Delimiter:
                            <input data-bind="value: subst.delimiter, valueUpdate: 'afterkeydown'" style="width: 80px;" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="@wordSearchCollapse" style="transition-duration: 0.05s;">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">O:</span>
                        </div>
                        <textarea class="form-control" type="text" data-bind="value: wordSearch.output" style="height:250px;"></textarea>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="row">
                        Query
                    </div>
                    <div class="row">
                        <input data-bind="value: wordSearch.query, valueUpdate: 'afterkeydown'" style="width: 200px;" />
                    </div>
                    <div class="row alert alert-success">
                        <span data-bind="text: wordSearch.resultCount" style="@Html.Raw(minimalisticPadding)">0</span>
                    </div>
                    <div class="row alert alert-info">
                        <span data-bind="text: wordSearch.dbStatus" style="@Html.Raw(minimalisticPadding)">Idle</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse" id="@crosswordSearchCollapse" style="transition-duration: 0.05s;">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Q:</span>
                        </div>
                        <textarea class="form-control" type="text" data-bind="value: crosswordSearch.clueOutput" style="height:250px;"></textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">A:</span>
                        </div>
                        <textarea class="form-control" type="text" data-bind="value: crosswordSearch.answerOutput" style="height:250px;"></textarea>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="row">
                        Query
                    </div>
                    <div class="row">
                        <input data-bind="value: crosswordSearch.query, valueUpdate: 'afterkeydown'" style="width: 200px;" />
                    </div>
                    <div class="row alert alert-success">
                        <span data-bind="text: crosswordSearch.resultCount" style="@Html.Raw(minimalisticPadding)">0</span>
                    </div>
                    <div class="row alert alert-info">
                        <span data-bind="text: crosswordSearch.dbStatus" style="@Html.Raw(minimalisticPadding)">Idle</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

@section Scripts {
    <script type="text/javascript" src="~/Lib/requirejs-2.3.6/require.js"></script>
    <script type="text/javascript" src="~/scripts/require-config.js"></script>
    <script type="text/javascript">require(["scripts/app"])</script>
}