@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    string helpCollapse = "helpCollapse";
    string substitutionCollapse = "substitutionCollapse";
    string wordSearchCollapse = "wordSearchCollapse";
    string crosswordSearchCollapse = "crosswordSearchCollapse";
    string wordExtraCollapse = "wordExtraCollapse";
    string numberConversionCollapse = "numberConversionCollapse";
    string dataLinksCollapse = "dataLinksCollapse";

    string listButton = "list-group-item list-group-item-action";
    string minimalisticPadding = "padding: 1px; margin: 2px;";
    string noSelectStyle = "style=\"-ms-user-select: none; user-select: none; -moz-user-select: none; -webkit-user-select: none;\"";
}

@section Headers {
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@helpCollapse" style=" @Html.Raw(minimalisticPadding)">Help</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@substitutionCollapse" style=" @Html.Raw(minimalisticPadding)">Substitution</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@wordSearchCollapse" style=" @Html.Raw(minimalisticPadding)">Word Search</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@crosswordSearchCollapse" style=" @Html.Raw(minimalisticPadding)">Crossword Search</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@wordExtraCollapse" style=" @Html.Raw(minimalisticPadding)">Word Extra</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@numberConversionCollapse" style=" @Html.Raw(minimalisticPadding)">Number Conversion</button>
    <button type="button" class="btn btn-primary" data-toggle="collapse" href="#@dataLinksCollapse" style=" @Html.Raw(minimalisticPadding)">Data Links</button>
}

<div class="container-fluid">
    <div class="collapse" id="@helpCollapse" style="transition-duration: 0.05s;">
        <div class="row">
            <div class="col">
                <h5>Instructions</h5>
                <h6>Navigation</h6>
                <p>
                    Use the buttons at the top to open and collapse data tabs.
                    <br />
                    Data will remain in each tab if it is collapsed, but will be discarded if the page is refreshed.
                </p>
                <p>
                    
                </p>
                <h6>Searching</h6>
                <p>
                    All searches support SQL queries. Use a '_' for letters which must exist and a '%' as a wildcard.
                </p>
                <p>
                    <i>Examples</i>
                    <ul>
                        <li>Find all results which start with 'fish': <b>fish%</b></li>
                        <li>Find all results which contain 'cheese': <b>%cheese%</b></li>
                        <li>Find all single-letter results: <b>_</b></li>
                        <li>Find all two letter results which start with 'a': <b>a_</b></li>
                    </ul>
                </p>
            </div>
            <div class="col">
                <h5>About</h5>
                <p>
                    <b>PSR</b> is built on top several technologies. <br />
                    The underlying website runs on ASP.NET Core with Razor Pages, Bootstrap, Typescript, and Knockout for UI; and Web API for database and API interoperability. <br />
                    PostgreSQL provides SQL database support, with Axios simplifying the interactions between Typescript and Web API. <br />
                    Finally, JQuery supports Bootstrap, Npgsql supports PostgreSQL C# operations, and Newtonsoft.JSON supports server-side JSON serialization.
                </p>

                <h5>Support</h5>
                <p>
                    For all support issues, please file an issue on the <a href="https://github.com/guminer/psr/issues">issue tracker page</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="collapse" id="@substitutionCollapse" style="transition-duration: 0.05s;">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">I:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="textInput: subst.input" style="height:250px;"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">O:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="value: subst.output" style="height:250px;"></textarea>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="row">
                    <div class="col">
                        Delimiter:
                    </div>
                    <div class="col">
                        <input data-bind="textInput: subst.delimiter" style="width: 40px;" />
                    </div>
                </div>
                <div class="list-group">
                    <a data-bind="css: subst.letterToNumberActive, click: utility.toggler.bind($data, subst.letterToNumberActive)" class="@listButton active" @Html.Raw(noSelectStyle)>A1 - Z26</a>
                    <a data-bind="css: subst.rotate13Active, click: utility.toggler.bind($data, subst.rotate13Active)" class="@listButton active" @Html.Raw(noSelectStyle)>Rotate</a>
                </div>
                <input data-bind="textInput: subst.rotateValue" />
                <div class="list-group">
                    <a data-bind="css: subst.aciiActive, click: utility.toggler.bind($data, subst.aciiActive)" class="@listButton active" @Html.Raw(noSelectStyle)>ASCII</a>
                </div>
                <div class="row">
                    <div class="col">
                        <a data-bind="css: subst.morseActive, click: utility.toggler.bind($data, subst.morseActive)" class="@listButton" @Html.Raw(noSelectStyle)>Morse</a>
                    </div>
                    <div class="col">
                        Dot: <br />
                        <input data-bind="textInput: subst.morseDot" style="width: 40px;" value="." />
                    </div>
                    <div class="col">
                        Dash: <br />
                        <input data-bind="textInput: subst.morseDash" style="width: 40px;" value="-" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="@wordSearchCollapse" style="transition-duration: 0.05s;">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">O:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="value: wordSearch.output" style="height:250px;"></textarea>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="row">
                    Query
                </div>
                <div class="row">
                    <input data-bind="textInput: wordSearch.query" style="width: 200px;" />
                </div>
                <div class="row">
                    <input type="checkbox" data-bind="checked: wordSearch.searchType" /> Uncheck for anagrams.
                </div>
                <div class="row alert alert-success">
                    <span data-bind="text: wordSearch.resultCount" style="@Html.Raw(minimalisticPadding)">0</span>
                </div>
                <div class="row alert alert-info">
                    <span data-bind="text: wordSearch.dbStatus" style="@Html.Raw(minimalisticPadding)">Idle</span>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="@crosswordSearchCollapse" style="transition-duration: 0.05s;">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Q:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="value: crosswordSearch.clueOutput" style="height:250px;"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">A:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="value: crosswordSearch.answerOutput" style="height:250px;"></textarea>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="row">
                    Query
                </div>
                <div class="row">
                    <input data-bind="textInput: crosswordSearch.query" style="width: 200px;" />
                </div>
                <div class="row alert alert-success">
                    <span data-bind="text: crosswordSearch.resultCount" style="@Html.Raw(minimalisticPadding)">0</span>
                </div>
                <div class="row alert alert-info">
                    <span data-bind="text: crosswordSearch.dbStatus" style="@Html.Raw(minimalisticPadding)">Idle</span>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="@numberConversionCollapse" style="transition-duration: 0.05s;">
        <div class="row">
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">I:</span>
                        </div>
                        <textarea class="form-control" type="text" data-bind="value: equationSolver.input" style="height:250px;"></textarea>
                    </div>
                </div>
                <div class="col">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">O:</span>
                        </div>
                        <textarea class="form-control" type="text" data-bind="value: equationSolver.output" style="height:250px;"></textarea>
                    </div>
                </div>
                <div class="col-sm-auto">
                    <div class="list-group">
                        <a data-bind="css: equationSolver.additionActive, click: utility.toggler.bind($data, equationSolver.additionActive)" class="@listButton active" @Html.Raw(noSelectStyle)>Addition</a>
                    </div>
                    <div class="list-group" style="padding: 4px;">
                        <button data-bind="click: equationSolver.evaluate" style="border: 1px;">Evaluate</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="@wordExtraCollapse" style="transition-duration: 0.05s;">
        <div class="row">
            <div class="col">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">O:</span>
                    </div>
                    <textarea class="form-control" type="text" data-bind="value: wordExtra.output" style="height:250px;"></textarea>
                </div>
            </div>
            <div class="col-sm-auto">
                <div class="row">
                    Query
                </div>
                <div class="row">
                    <input data-bind="textInput: wordExtra.query" style="width: 200px;" />
                </div>
                <div class="row">
                    <div class="input-group-text" style="@Html.Raw(minimalisticPadding)">
                        <input type="radio" name="wordExtraGroup" value="thesaurus" data-bind="checked: wordExtra.searchType" /> Thesaurus
                    </div>
                </div>
                <div class="row">
                    <div class="input-group-text" style="@Html.Raw(minimalisticPadding)">
                        <input type="radio" name="wordExtraGroup" value="homophones" data-bind="checked: wordExtra.searchType" /> Homophones
                    </div>
                </div>
                <div class="row alert alert-success">
                    <span data-bind="text: wordExtra.resultCount" style="@Html.Raw(minimalisticPadding)">0</span>
                </div>
                <div class="row alert alert-info">
                    <span data-bind="text: wordExtra.dbStatus" style="@Html.Raw(minimalisticPadding)">Idle</span>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="@dataLinksCollapse" style="transition-duration: 0.05s;">
        <div class="row">
            <div class="col">
                <h5>Art</h5>
                <div class="list-group">
                    <a href="https://en.wikipedia.org/wiki/Lists_of_celebrities">List of List of Celebrities</a>
                </div>
            </div>
            <div class="col">
                <h5>Financial</h5>
                <div class="list-group">
                    <a href="https://www.nyse.com/listings_directory/stock">NYSE Stock Tickers</a>
                </div>
            </div>
            <div class="col">
                <h5>Geography</h5>
                <div class="list-group">
                    <a href="https://en.wikipedia.org/wiki/List_of_sovereign_states">Countries</a>
                    <a href="https://en.wikipedia.org/wiki/List_of_states_and_territories_of_the_United_States">US States and Capitals</a>
                    <a href="https://en.wikipedia.org/wiki/List_of_country_calling_codes">Country Calling Codes</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h5>Reference</h5>
                <div class="list-group">
                    <a href="https://upload.wikimedia.org/wikipedia/commons/d/d1/Asl_alphabet_gallaudet.png">American Sign Language</a>
                    <a href="https://www.pharmabraille.com/pharmaceutical-braille/the-braille-alphabet/">Braille</a>
                    <a href="https://en.wikipedia.org/wiki/International_maritime_signal_flags">Maritime Signal Flags</a>
                    <a href="https://upload.wikimedia.org/wikipedia/commons/e/e0/FAA_Phonetic_and_Morse_Chart2.svg">NATO Phonetic Alphabet</a>
                    <a href="https://upload.wikimedia.org/wikipedia/commons/3/36/Pigpen_cipher_key.svg">Pigpen</a>
                    <a href="https://en.wikipedia.org/wiki/Flag_semaphore">Semaphore Flags</a>
                </div>
            </div>
            <div class="col">
                <h5>Science</h5>
                <div class="list-group">
                    <a href="https://en.wikipedia.org/wiki/List_of_chemical_elements">Chemical Elements</a>
                    <a href="https://en.wikipedia.org/wiki/Electronic_color_code">Resistor Color Codes</a>
                </div>
            </div>
            <div class="col">
                <h5>Sports</h5>
                <div class="list-group">
                    <a href="https://en.wikipedia.org/wiki/List_of_professional_sports_teams_in_the_United_States_and_Canada">Sports teams in US and Canada</a>
                    <a href="https://en.wikipedia.org/wiki/National_Football_League">Football teams in US and Canada</a>
                    <a href="https://en.wikipedia.org/wiki/List_of_football_clubs_in_England">Soccer clubs in England</a>
                </div>
            </div>
        </div>
    </div>
</div>

    @section Scripts {
        <script type="text/javascript" src="~/Lib/requirejs-2.3.6/require.js"></script>
        <script type="text/javascript" src="~/scripts/require-config.js"></script>
        <script type="text/javascript">require(["scripts/app", "scripts/utility"])</script>
    }
